---
import { truncateText } from '../../../utils/text';

import type ArticleType from '../../../types/article';

import ButtonUi from '../../../components/Ui/ButtonUi.astro';

interface Props {
    article : ArticleType;
}

const { article } = Astro.props;


const buttonProps = {
    text: 'Read more →',
    classes: 'font-bold mt-5 ml-auto gt-america-bold',
}; 
---

<article class="w-full flex flex-col h-fit border border-black mb-4 lg:mb-0">
    <header class="flex flex-col border-b border-black p-4">
        <h2 class="text-xl editor-bold">
            {article.title}
        </h2>
        <span class="text-[12px] gt-america-light">
            Word by <a class="font-bold gt-america-bold" href="#">
                {article.writer}
            </a>
        </span>
    </header>
    <div class="flex flex-wrap justify-between border-b border-black  p-4">
        <p class="text-xs editor-regular min-h-40 w-full">
            {truncateText(article.excerpt, 300)}
        </p>
        <ButtonUi button={buttonProps} />
    </div>
    <footer class="flex">
        <span class="text-xs border-r border-black  py-1 px-4 gt-america-light">
            {article.category}
        </span>
    </footer>
</article>