---
import { issues } from '../utils/contents';

import Layout from '../layouts/Layout.astro';

import Issue from '../components/Issue/Issue.astro';

const title = 'Home - Work in Progress';
const description = 'This is a work in progress blog.';

---

<Layout
	title={title}
	description={description}
>
	<main class="w-full max-w-[1472px] mx-auto p-0 md:p-10">
		{issues.map((issue) => (
			<Issue issue={issue} />
		))}
	</main>
</Layout>
