---
import Layout from '../layouts/Layout.astro';

const title = 'Home - Work in Progress';
const description = 'This is a work in progress blog.';
---

<Layout
	title={title}
	description={description}
>
	<main>
	</main>
</Layout>

<style>
</style>
