---
import { issues } from '../utils/contents';

import Layout from '../layouts/Layout.astro';

import Issue from '../components/Issue/Issue.astro';

const title = 'Home - Work in Progress';
const description = 'This is a work in progress blog.';

---

<Layout
	title={title}
	description={description}
>
	<main class="w-full max-w-[1472px] mx-auto p-0 md:p-10">
		{issues.map((issue) => (
			<Issue issue={issue} />
		))}
	</main>
</Layout>

<script>
import { getMonthAndYear } from "../utils/date";

    function getSectionOnview() {
		const sections = document.querySelectorAll('[data-section]') as NodeListOf<HTMLElement>;
		const buttonIssue = document.getElementById('button-issue');
		const dateIssue = document.getElementById('date-issue');
		const headerPos = window.innerWidth > 768 ? 155 : 113;
      	let visibleDiv: HTMLElement | null = null;

		if(!sections || !buttonIssue || !dateIssue) {
			return;
		}
		
		sections.forEach((section) => {
			const rect = section.getBoundingClientRect();
			if (rect.top <= 155 && rect.bottom >= headerPos) {
				visibleDiv = section;
			}
		});

		if (visibleDiv && (visibleDiv as HTMLElement).dataset.section) {
			const issue = (visibleDiv as HTMLElement).dataset.section;
			const date = (visibleDiv as HTMLElement).dataset.date;

			if(!issue || !date) {
				return;
			}

			const dateFormatted = getMonthAndYear(date);
			const title = issue.replace('section-', '');

			buttonIssue.innerHTML = title;
			dateIssue.innerHTML = dateFormatted;
		}
    }

    window.addEventListener("scroll", getSectionOnview);
    window.addEventListener("load", getSectionOnview);
</script>
