---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<span class="border-x border-b border-black text-center w-full h-7 flex items-center cursor-pointer px-3">{title}</span>
