---
import type LinkType from '../../types/link';
import LinkUi from '../Ui/LinkUi.astro';

interface Props {
    links: LinkType[];
}

const { links } = Astro.props;
---

<div class="flex">
    {links.map((link) => (
        <LinkUi link={link} />
    ))}
</div>