---
import type LogoType from '../../types/logo';
import IconUi from '../Ui/IconUi.astro';

interface Props {
    logo: LogoType;
}

const { logo } = Astro.props

---

<a href={logo.href ?? "/"} class="h-[55px]">
    <IconUi icon={logo} />
</a>