---
import type NavItemType from '../../types/navItem';

interface Props {
    item: NavItemType;
}

const { item } = Astro.props;
---

<li class={` ${item.classes} h-[42px] md:h-[52px] flex justify-end items-center w-fit`}>
    <a href={item.href}>{item.name}</a>
</li>
