---
import type NavItemType from '../../types/navItem';
import type IconType from '../../types/icon';

import NavItem from './NavItem.astro';
import NavFooter from './NavFooter.astro';

interface Props {
    navs: NavItemType[];
    icon: IconType;
    navFooter: {
        title: string;
        content: string;
    };
}

const { navs, icon, navFooter } = Astro.props;

---

<nav id="navigator" class="header-nav w-full max-w-[460px] border-l border-black absolute top-full -right-full h-[calc(100vh-115px)] px-7 py-4 md:p-[60px] flex flex-col justify-between transition-all duration-500">
    <ul class="flex flex-col text-xl md:text-2xl items-end justify-center md:my-7">
        {navs.map((nav) => (
            <NavItem item={nav} />
        ))}
    </ul>
    <NavFooter icon={icon} title={navFooter.title} content={navFooter.content} />
</nav>

<style>
    #navigator {
        background-color: var(--bg);
    }
    #navigator.active {
        right: 0;
    }
</style>