---
import type ButtonType from '../../types/button';

import IconUi from './IconUi.astro';

interface Props {
    button: ButtonType;
}
const { button } = Astro.props;
---

<button class={`flex items-center ${button.classes}`}>
    <span id={button.id}>
        {button.text}
    </span>
    { button.icon && <IconUi icon={button.icon} /> }
</button>