---
import type ButtonType from '../../types/button';

import IconUi from './IconUi.astro';

interface Props {
    button: ButtonType;
}
const { button } = Astro.props;
---

<button id={button.id} class={`flex items-center ${button.classes}`}>
    {button.text}
    { button.icon && <IconUi icon={button.icon} /> }
</button>